<%= form_with(model: post) do |form| %>
  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :body, style: "display: block" %>
    <%= form.textarea :body, class: "form-control", rows: 8 %>
  </div>
  
  <%= form.submit "Salvar", class: "btn btn-primary", data: { disable_with: "Salvando..." } %>
<% end %>
